<div  class="backgroundComp">
  <div class="rowLevels">
    <div class="colLeft scrollable">
      <div *ngIf="currentLevels.length > 0; else noLevels">
        <p class="tableTitle">Created Levels</p>
        <table class="levelTable">
          <thead>
            <tr >
              <th>
                <p> Levels </p>
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <mat-tree [dataSource]="levelDataSource" [treeControl]="treeControl" class="example-tree">
                  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <div class="mat-tree-node">
                      <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name"
                        [ngClass]="{'selectedNode': this.selectedLevel && node.value === this.selectedLevel}"
                        (click)="onLevelSelect(node)">
                        <mat-icon *ngIf="hasChild(1,node)" class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        {{node.name}}
                      </button>
                    </div>
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                        role="group">
                      <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                  </mat-nested-tree-node>
                </mat-tree>
              </td>
              <td style="width: 50%;">
                <div *ngIf="this.selectedLevel">
                  <div>
                    <p class="treeItemInfo">{{getLevelInfo()}}</p>
                  </div>
                  <div style="text-align: center;">
                    <button
                      title="remove"
                      class="removeButton"
                      (click)="removeLevel(this.selectedLevel)">
                      <span class='material-icons'>delete</span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noLevels>
        <p class="resultTitle">Create new sub Discount</p>
      </ng-template>
    </div>
    <div class="colRight">
      <div>
        <button class="optionalButtonsDiv"
          (click)="addLevel()">
          add level
        </button>
      </div>
      <div>
        <button class="optionalButtonsDiv"
          (click)="onMergeLevels()"
          [disabled]="!canMergeLevels()">
          Merge levels
        </button>
      </div>

    </div>
  </div>
  <div class="rowConditions">
    <div class="colLeft scrollable">
      <div *ngIf="currentConditions.length > 0; else noConditions">
        <p class="tableTitle">Created Conditions</p>
        <table class="levelTable">
          <thead>
            <tr >
              <th>
                <p> Conditions </p>
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <mat-tree [dataSource]="conditionDataSource" [treeControl]="treeControl" class="example-tree">
                  <mat-nested-tree-node *matTreeNodeDef="let nodeCond; when: hasChild">
                    <div class="mat-tree-node">
                      <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + nodeCond.name"
                        [ngClass]="{'selectedNode': this.selectedCondition && nodeCond.value === this.selectedCondition}"
                        (click)="onConditionSelect(nodeCond)">
                        <mat-icon *ngIf="hasChild(1,nodeCond)" class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(nodeCond) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        {{nodeCond.name}}
                      </button>
                    </div>
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(nodeCond)"
                        role="group">
                      <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                  </mat-nested-tree-node>
                </mat-tree>
              </td>
              <td style="width: 50%;">
                <div *ngIf="this.selectedCondition">
                  <div>
                    <p class="treeItemInfo">{{getConditionInfo()}}</p>
                  </div>
                  <div style="text-align: center;">
                    <button
                      title="remove"
                      class="removeButton"
                      (click)="removeCondition(this.selectedCondition)">
                      <span class='material-icons'>delete</span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noConditions>
        <p class="resultTitle">No Conditions Created</p>
      </ng-template>
    </div>
    <div class="colRight">
      <div>
        <button 
          (click)="onAddConditionClick()"
          class="optionalButtonsDiv">
          add Condition
        </button>
      </div>
      <div>
        <button class="optionalButtonsDiv"
          (click)="onMergeConditions()"
          [disabled]="!canMergeConditions()">
          Merge Conditions
        </button>
      </div>

    </div>
  </div>
  
  <div class="rowInputs">
    <div class="colLeft">
      <mat-form-field class="inputLong" appearance="fill">
        <mat-label > Discount Percentage </mat-label>
        <input matInput type="number"  #last   style="color: white;" [(ngModel)]="currentPercentage" placeholder="Ex. 10">
      </mat-form-field>

    </div>
    <div class="colRight">
    </div>
  </div>
  <div class="rowSubmit">
    <div class="colLeft">
      <button 
        class="optionalButtonsDiv"
        [disabled]="!canSubmit()"
        (click)="onSubmitClick()">
        submit!
      </button>
      <p class="errorMessage" *ngIf="!exactOneLevel()">you must have exactly one level</p>
      <p class="errorMessage" *ngIf="!atMostOneCondition()">you must have at most one condition</p>
      <p class="errorMessage" *ngIf="isPercantageError()">percantage must be more then 0</p>

    </div>
    <div class="colRight">

    </div>

  </div>
</div>
