
<div>
  <div>
    <p  class="title"></p>
  </div>
  <div>
    <div class="columnLeft">
      <ul *ngFor="let level of discountLevels">
        <li>
          <mat-checkbox
            (change)="onUpdateMap(level, $event.checked)">
            {{getLevelName(level)}}
          </mat-checkbox>
        </li>
      </ul>
    </div>
    <div class="columnRight">
      <div style="text-align: center;" *ngFor="let levelState of allCompositeTypes">
        <div style="text-align: center;">
          <button mat-button class="button"
            [disabled]="!canSubmit()"
            (click)="onOperatorClick(levelState)"
            [mat-dialog-close]="returnVal">
            {{getLevelName(levelState)}}
          </button>
        </div>
      </div>
   
    </div>
    <div>
      <button mat-button [mat-dialog-close]="discountLevels"> Submit </button>
    </div>
  </div>

</div>
