<div  class="backgroundComp">
  <div *ngIf="isComponentValid" style="height: 100%;">
    <div class="resultColumn">
      <p class="mainTitle"> {{shop.shopName}} </p>
      <p class="resultTitle">Employees in Shop</p>
      <div  style="display: block; height:300px; overflow-y: scroll;">
        <table class="table">
          <thead>
            <tr>
              <th class = "titleTh" >Products</th>
              <th>
                <div style="width: 50%;
                            float: left;
                            font-size: smaller;">
                  <p>
                    last update: {{this.lastUpdate}}
                  </p>

                </div>
                <div style="width: 40%;
                            float: right;">
                  <button
                    title="refresh shop info"
                    (click)="resetComponent()">
                    <span class='material-icons'>refresh</span>
                  </button>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">

              <td style="cursor: pointer; width: 80%;"
                (click)="openAppointmentInfo(appointment)">
                <p style="font-size:x-large;">{{appointment.appointed}}</p>
                <p>Type: {{getTypeName(appointment.type)}}</p>

              </td>
              <td>
                <div>

                  <button
                    title="Remove appointed"
                    style="float:right; cursor: pointer; margin-right: 10px;"
                    (click)="removeAppointment(appointment)">
                    <span class='material-icons'>delete</span>
                  </button>

                  <button
                    title="set appointed permissions"
                    style="cursor: pointer;"

                    (click)="setAppointmentPermissions(appointment)">
                    <span class="material-icons">settings</span>
                  </button>

                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="SideBar">
      <div style="height: 10%;">

      </div>
      <div class="ButtonDiv">
        <button class="ButtonEmployees">
          Add new Employee
        </button>
      </div>

    </div>

  </div>
  <div>

  </div>


</div>
