<div  class="backgroundComp">
  <div class="resultColumn">
    <p class="resultTitle">stats chart should be placed here</p>
  </div>

  <div class="SideBar">
    <div style="height: 10%; text-align: center; margin-top: 20%;">
      <button
        class="optionalButton"
        (click)="showMemberHistory()"
        >
        Show member History
      </button>
    </div>
    <div style="height: 10%; text-align: center; margin-top: 20%;">
      <button
        class="optionalButton"
        (click)="getHistoryByShop()"
        >
        Show Shop History
      </button>
    </div>
    <div class="optionalButtonsDiv">
      <button class="optionalButton"
        (click)="removeMember()"
      >
        Remove Member
      </button>
    </div>
    <div class="optionalButtonsDiv">
      <button class="optionalButton"
      (click)="showMarketInfo()"
      >
        Show Market Info
      </button>
    </div>
    <!-- <div class="optionalButtonsDiv">
      <button class="optionalButton"
      >
        Show System Purchase History
      </button>
    </div> -->


  </div>
</div>
