.toolbar_background{
  background:rgb(123, 123, 223);
  height: 80%;

}
.registerButton{
  float:right;
  padding-left: 10px;
  height: 40px;
  width: 100px;
  margin-top: 10px;

}
.searchBar{
}
.searchBarDiv{
  margin-left: 40%;
}
.loginButton{
  float:right;
  height: 40px;
  width: 100px;
  margin-top: 10px;
}
.memberSetttingButton{
  float:right;
  height: 40px;
  width: 100px;
  margin-top: 10px;

}

.cartIcon{
  float: right;
  height: 40px;
  width: 100px;
  margin-top: 10px;
}

.searchButton{
  height: 54px;
  margin-left: 10px;
}
