<div class="toolbar_background">
  <div>
    <button class="cartIcon" (click)="shoppingCartInfoClick()">
      <span class="material-icons">shopping_cart</span>
    </button>
    <button class="memberSetttingButton"
      *ngIf="isMemberLoggedIn()"
      (click)="openUserSettings()">
      {{getVisitorName()}}
  
    </button>
    <button class="loginButton" *ngIf="!isMemberLoggedIn()"
      (click)="loginClicked()">
      Login
    </button>
    <button class="registerButton" *ngIf="!isMemberLoggedIn()"
      (click)="register()">
      Register
  
    </button>

  </div>
  <!-- <p style="margin-left: 10px;">Market Name</p> -->

  <div class="searchBarDiv">
    <mat-form-field appearance="fill">
      <mat-label>Search By</mat-label>
      <mat-select #fontSize [(value)]="productSearchBy" >
        <mat-option value="Category">Category</mat-option>
        <mat-option value="Keyword">Keyword</mat-option>
        <mat-option value="Product Name">Product Name</mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field class="searchBar" appearance="fill">
      <mat-label >Search by {{productSearchBy}}</mat-label>
      <input matInput #last style="color: white;" placeholder="Ex. {{getExample()}}"  >
    </mat-form-field>
    <button class="searchButton"
      (click)="searchItem()">
      <span class='material-icons'>search</span>
    </button>

  </div>
</div>
