.backgroundComp{
  background:#2e2e2e;
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
}

.submitButton{
  width: 40%;
  height: 50px;
  cursor: pointer;
  background-color: chartreuse;
}

.submitButton:disabled{
  width: 40%;
  height: 50px;
  cursor: unset;
  background-color: rgb(186, 86, 86) ;
}



.title{
  font-size: xxx-large;
  color: white;
  margin-top: 5%;
}

.textInput {
  // background-color: rgb(159, 96, 96);
  // color: black;

}



