<div class="backgroundComp">
  <div style="height: 70%; ">
    <div style="width: 50%; float: left;">
      <p class="title">Address Details</p>
      <div>
        <mat-form-field class="textInput" appearance="fill" >
          <mat-label > City</mat-label>
          <input  matInput #last style="color:white" [(ngModel)]="city">
        </mat-form-field>

      </div>
      <div>
        <mat-form-field class="textInput" appearance="fill">
          <mat-label >Street </mat-label>
          <input matInput #last style="color:white" [(ngModel)]="street">
        </mat-form-field>

      </div>
      <div>
        <mat-form-field class="textInput" appearance="fill">
          <mat-label >Country</mat-label>
          <input matInput #last style="color:white" [(ngModel)]="country">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="textInput" appearance="fill">
          <mat-label >Zip Number</mat-label>
          <input matInput type="number" #last style="color:white" [(ngModel)]="zipCode">
        </mat-form-field>
      </div>

    </div>

    <div style="width: 50%; float: right">
      <p class="title">Payment Details</p>
      <div>
        <mat-form-field class="textInput" appearance="fill" >
          <mat-label > Card Number</mat-label>
          <input  matInput type="number" #last style="color:white" [(ngModel)]="cardNum">
        </mat-form-field>

      </div>
      <div>
        <mat-form-field class="textInput" appearance="fill" >
          <mat-label > Holder Name</mat-label>
          <input  matInput type="text" #last style="color:white" [(ngModel)]="holderName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="textInput" appearance="fill" >
          <mat-label > Holder ID</mat-label>
          <input  matInput type="text" #last style="color:white" [(ngModel)]="holderID">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="textInput" appearance="fill">
          <mat-label > CVV </mat-label>
          <input matInput #last style="color:white" [(ngModel)]="CVV">
        </mat-form-field>

      </div>
      <div>
        <mat-form-field class="textInput" appearance="fill">
          <mat-label >Experation Date</mat-label>
          <input matInput #last type="month" style="color:white" [(ngModel)]="expirationDate">
        </mat-form-field>
      </div>
    </div>



  </div>




  <div  >
    <button
    class="submitButton"
    [disabled]="!canSubmit()"
    (click)="submitCheckOut()" >
      Submit!
    </button>
  </div>

</div>
