<div  class="backgroundComp">
  <!-- back to shop -->
  <div style="height: 10%; text-align: left; width: 100%;">
    <button
      class="backButton"
      (click)="backToShop()"
      title="Go back to Shop"
      >
      <span class="material-icons">arrow_back</span>
    </button>
  </div>
  <!-- main row -->
  <div *ngIf="!isDiscountsEmpty()" class="resultColumn">
    <p class="resultTitle">Created Sub Discounts</p>
    <div  style="display: block; height:300px; overflow-y: scroll;">
      <table class="table">
        <thead>
          <tr >
            <th>
              <!-- <p> Created Sub Discounts </p> -->
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <mat-tree [dataSource]="discountDataSource" [treeControl]="treeControl" class="example-tree">
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name"
                      [ngClass]="{'selectedNode': this.selectedDiscount && node.value === this.selectedDiscount}"
                      (click)="onDiscountSelect(node)">
                      <mat-icon *ngIf="hasChild(1,node)" class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                      {{node.name}}
                    </button>
                  </div>
                  <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                      role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </div>
                </mat-nested-tree-node>
              </mat-tree>
            </td>
            <td style="width: 50%;">
              <div *ngIf="this.selectedDiscount">
                <div>
                  <p class="treeItemInfo">{{getDiscountInfo()}}</p>
                </div>
                <div style="text-align: center;">
                  <button
                    *ngIf="canDelete()"
                    title="remove"
                    class="removeButton"
                    (click)="removeDiscount(this.selectedDiscount)">
                    <span class='material-icons'>delete</span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="isDiscountsEmpty()" class="resultColumn">
    <p class="resultTitle">No Sub Discounts Created yet</p>
  </div>

  <div class="SideBar">
    <div style="height: 10%; text-align: center; margin-top: 20%;">
      <button
        class="optionalButton"
        (click)="addSubDiscount()"
        >
        Add Sub Discount
      </button>
    </div>

    <div style="height: 10%; text-align: center; margin-top: 20%;">
      <button
        class="optionalButton"
        (click)="onMergeDiscountsClick()"
        [disabled]="!currentDiscounts || currentDiscounts.length<=1"
        >
        Merge Discounts
      </button>
    </div>


  </div>

  <div style="height: 10%; text-align: center; margin-top: 20%;">
    <button
      class="optionalButton"
      [disabled]="!isExactOneDiscout()"
      (click)="submit()"
      >
      Submit
    </button>
    <p *ngIf="!isExactOneDiscout()" class="errorMessage">you must have exactly one discount to proceed</p>
  </div>


</div>
