<div>
  <app-toolbar></app-toolbar>
  <app-register *ngIf="isRegisterClicked()"></app-register>
  <app-search-item *ngIf="isSearchItemClicked()"></app-search-item>
  <app-login-component *ngIf="isLoginClicked()"></app-login-component>
  <app-shopping-cart-info *ngIf="isShoppingCartInfoClicked()"></app-shopping-cart-info>
  <app-check-out-component *ngIf="isCheckoutClicked()"></app-check-out-component>
  <app-user-settings *ngIf="isUserSettingClicked()"></app-user-settings>
  <app-shop-info-component *ngIf="isShopInfoClicked()"></app-shop-info-component>
  <app-employees-component *ngIf="isEmployeesClicked()"></app-employees-component>
  <app-discount-main *ngIf="isDiscountMainClicked()"></app-discount-main>
  <app-new-discount *ngIf="isNewDiscountClicked()"></app-new-discount>
  <app-sub-discount *ngIf="isSubDiscountClicked()"></app-sub-discount>
  <app-main-shop-purchase-policies *ngIf="isMainPurcahsePolicyClicked()"></app-main-shop-purchase-policies>
  <app-add-new-purchase-policy *ngIf="isAddNewPurchasePolicyClicked()"></app-add-new-purchase-policy>
  <app-sub-purchase-policy *ngIf="isSubPurchasePolicyClicked()"></app-sub-purchase-policy>
  <app-manager-settings *ngIf="isManagerSettingsClicked()"></app-manager-settings>
  <app-pending-bids *ngIf="isPendingBidsClicked()"></app-pending-bids>
</div>
