<div  class="backgroundComp">
  <div *ngIf="hasPendingBids()" class="resultColumn">
    <p class="mainTitle"> Wait for approve/reject </p>
    <div  style="display: block; height:300px; overflow-y: scroll;">
      <table class="table">
        <thead>
          <tr>
            <th class = "titleTh" >Bids</th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bid of myPendingBids">

            <td style="cursor: pointer; width: 80%;">
              <p class="name">buyer: {{bid.buyerName}}</p>
              <p class="subTitle">itemId: {{bid.itemId}}</p>
              <p class="subTitle">amount: {{bid.amount}}</p>
              <p class="subTitle">total price: {{bid.price}}</p>

            </td>
            <td>
              <div>
                <button
                  style="color: green !important;"
                  title="approve"
                  (click)="approveBid(bid)">
                  <span class="material-icons">done</span>
                </button>
                <button
                  style="color: black !important;"
                  title="set new offer"
                  (click)="setNewOffer(bid)">
                  <span class="material-icons">change_circle</span>
                </button>
                <button
                  style="color: red !important;"
                  title="reject"
                  (click)="rejectBid(bid)">
                  <span class="material-icons">close</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="!hasPendingBids()">
    <p style="
      font-size: xXx-large;
      font-family: cursive;
      text-align: center;
      margin-top: 10%;">
      you have no pending bids
    </p>
  </div>

</div>
