<div class="backgroundComp">
  <div style="height: 20%; margin-top:5%; text-align: center;" >
      <mat-form-field style="width: 30%; " appearance="fill">
        <mat-label >Question </mat-label>
        <input matInput  #last style="color: white;" [(ngModel)]="currentQuestion" >
      </mat-form-field>
      <mat-form-field style="width: 30%; margin-left:2.5%;" appearance="fill">
        <mat-label >Answer </mat-label>
        <input matInput  #last style="color: white;"  [(ngModel)]="currentAnswer">
      </mat-form-field>
      <button
        [disabled]="!canAddQuestion()"
        (click)="addQuestion()">
        Add Security Question
      </button>
  </div>
  <div style="height: 10%; text-align: center;">
    <button class="userSettingButton"
      (click)="openNewShop()">
      Open new Shop
    </button>

  </div>

  <div style="height: 10%; text-align: center;">
    <button
      hidden
      class="userSettingButton">
      View System Purchase History
    </button>

  </div>
  <div style="height: 10%; text-align: center;">
    <mat-form-field style="width: 30%; " appearance="fill">
      <mat-label >ReOpen Closed Shop </mat-label>
      <input matInput  #last style="color: white;" [(ngModel)]="shopToReOpen" >
    </mat-form-field>
    <button
      [disabled]="!canReOpenShop()"
      (click)="reOpenShop()">
      Re-Open
    </button>
  </div>


  <div style="height: 10%; text-align: center;" >
    <div hidden>
      <mat-form-field style="width: 30%; margin-left:2.5%;" appearance="fill" >
        <mat-label >Shop Name </mat-label>
        <input matInput  #last style="color: white;" >
      </mat-form-field>
      <button
        hidden
        class="userSettingButton">
        Get History
      </button>

    </div>

  </div>

  <div style="height: 10%; text-align: center;">
    <div hidden>
      <mat-form-field style="width: 30%; margin-left:2.5%;" appearance="fill">
        <mat-label >Member Name </mat-label>
        <input matInput  #last style="color: white;" >
      </mat-form-field>
      <button class="userSettingButton" hidden>Get History</button>

    </div>

  </div>
  <div style="height: 10%; text-align: center;">
    <button class="logoutButton" (click)="logout()">Logout</button>

  </div>
</div>
