.backgroundComp{
  background:#2e2e2e;
  height: 100%;
  position: fixed;
  width: 100%;
  display: table;
  clear:both

}

.userSettingButton{
  height: 50px;
  width: 200px;
  border-color: purple;
  border-radius: 10px;
  border-width: 5px;
}
