<div  class="backgroundComp">
  <div *ngIf="showItems()" class="resultColumn">
    <p class="mainTitle"> {{shop.shopName}} </p>
    <p class="resultTitle">Items in Shop</p>
    <div  style="display: block; height:300px; overflow-y: scroll;">
      <table class="table">
        <thead>
          <tr>
            <th class = "titleTh" >Products</th>
            <th>

            </th>
            <th>
              <div style="width: 50%;
                          float: left;
                          font-size: smaller;">
                <p>
                  last update: {{this.lastUpdate}}
                </p>

              </div>
              <div style="width: 40%;
                          float: right;">
                <button
                  title="refresh shop info"
                  (click)="resetShop()">
                  <span class='material-icons'>refresh</span>
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemList">

            <td style="cursor: pointer; width: 80%;"
              (click)="openDialog(item)">
              <p style="font-size:x-large;">{{item.name}}</p>
              <p>price per Unit: {{item.price}}</p>
              <p>Amount in Shop: {{getItemCurrentAmount(item)}}</p>

            </td>
            <td>
              <button style="cursor: pointer;"
                (click)="addToCart(item)"
                title="add item to cart">
                <span class="material-icons">
                  add_shopping_cart
                  </span>
              </button>
            </td>
            <td>
              <div>

                <button
                  *ngIf="isOwnerOrManager()"
                  title="Remove Item From Shop"
                  style="float:right; cursor: pointer;"
                  (click)="removeItem(item)">
                  <span class='material-icons'>delete</span>
                </button>

                <button
                  *ngIf="isOwnerOrManager()"
                  title="set item info"
                  style="cursor: pointer;"
                  (click)="setItemInfo(item)">
                  <span class="material-icons">settings</span>
                </button>
                <div>
                  <button
                    style="cursor: pointer;"
                    title="offer a bid"
                    (click)="offerBid(item)">
                    <span class="material-icons">local_offer</span>
                  </button>
                </div>

              </div>

              <div>
                <button
                  *ngIf="isOwnerOrManager()"
                  style="cursor: pointer; width: 100%;margin-top: 10px;"
                  (click)="setItemAmount(item)">
                  Change Item Amount in Shop
                </button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="!showItems()" class="resultColumn">
    <p class="resultTitle">No Items in Shop</p>
  </div>

  <div class="SideBar">
    <div style="height: 10%; text-align: center; margin-top: 20%;">
      <button
        *ngIf="isOwnerOrManager()"
        class="optionalButton"
        (click)="addItemToShop()"
        >
        Add Item To Shop
      </button>
    </div>
    <div class="optionalButtonsDiv">
      <button class="optionalButton"
        *ngIf="hasEmployeePermission()"
        (click)="onEmployeesClick()"
      >
        Employees
      </button>
    </div>
    <div class="optionalButtonsDiv">
      <button class="optionalButton"

        (click)="showDiscounts()"
      >
        Shop Discounts
      </button>
    </div>
    <div class="optionalButtonsDiv">
      <button class="optionalButton"
        (click)="onPurchasePoliciesClick()"
      >
        Shop Purchase Policies
      </button>
    </div>
    <div class="optionalButtonsDiv">
      <button class="optionalButton"
        *ngIf="hasBidPermissions()"
        (click)="showPendingBidsToApprove()"
      >
        My Pending Bids To Approve
      </button>
    </div>
    <div class="optionalButtonsDiv">
      <button class="optionalButton"
        *ngIf="hasHistoryPermission()"
        (click)="showPurchaseHistory()"
      >
        Purchase History
      </button>
    </div>
    <div class="optionalButtonsDiv">
      <button class="optionalButton"
        *ngIf="isFounder()"
        (click)="closeShop()"
      >
        Close Shop
      </button>
    </div>

  </div>
</div>
