<div  class="backgroundComp">
  <div class="rowLevels">
    <div class="colLeft scrollable">
      <div *ngIf="this.currentLevels.length >0; else noLevels">
        <p class="tableTitle">Created Levels</p>
        <table class="levelTable">
          <thead>
            <tr style="border-bottom: solid;">
              <th>
                <p class="tableHeaderMain"> Levels </p>
              </th>
              <th>
                <!-- this is just to save 2 slots in a row -->
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <mat-tree [dataSource]="policyDataSource" [treeControl]="treeControl" class="example-tree">
                  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <div class="mat-tree-node">
                      <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name"
                        [ngClass]="{'selectedNode': this.selectedPolicy && node.value === this.selectedPolicy}"
                        (click)="onPolicySelect(node)">
                        <mat-icon *ngIf="hasChild(1,node)" class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        {{node.name}}
                      </button>
                    </div>
                    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                        role="group">
                      <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                  </mat-nested-tree-node>
                </mat-tree>
              </td>
              <td style="width: 50%;">
                <div *ngIf="this.selectedPolicy">
                  <div>
                    <p class="treeItemInfo">{{getPolicyInfo()}}</p>
                  </div>
                  <div style="text-align: center;">
                    <button
                      *ngIf="canDelete()"
                      title="remove"
                      class="removeButton"
                      (click)="removeLevel(this.selectedPolicy)">
                      <span class='material-icons'>delete</span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noLevels>
        <p class="resultTitle">Create new sub Policy</p>
      </ng-template>
    </div>
    <div class="colRight">
      <div>
        <button class="optionalButtonsDiv"
          (click)="addLevel()">
          add level
        </button>
      </div>
      <div>
        <button class="optionalButtonsDiv"
          (click)="onMergeLevels()"
          [disabled]="!canMergeLevels()">
          Merge levels
        </button>
      </div>

    </div>
  </div>
  <div class="rowConditions">
    <div class="colLeft">
      <mat-form-field class="inputLong" appearance="fill">
        <mat-label>Policy Level Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of typeList"
            (onSelectionChange)="selectType(type)"
            [value]="type">
            {{getTypeName(type)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="colRight">

    </div>
  </div>

  <div class="rowInputs">
    <div class="colLeft">
      <mat-form-field class="inputLong" appearance="fill">
        <mat-label > Amount of Items </mat-label>
        <input matInput type="number"  #last   style="color: white;" [(ngModel)]="amount" placeholder="Ex. 10">
      </mat-form-field>


    </div>
    <div class="colRight">
    </div>
  </div>
  <div class="rowSubmit">
    <div class="colLeft">
      <button
        class="optionalButtonsDiv"
        [disabled]="!canSubmit()"
        (click)="onSubmitClick()">
        submit!
      </button>
      <p class="errorMessage" *ngIf="!exactOneLevel()">you must have exactly one level</p>
      <p class="errorMessage" *ngIf="!isTypeChoosed()">you must choose a type to continue</p>
      <p class="errorMessage" *ngIf="isAmountError()">amount must be more then 0</p>

    </div>
    <div class="colRight">

    </div>

  </div>
</div>
