<div  class="backgroundComp">
  <div style="height: 10%; text-align: left; width: 70%;">
    <button
      class="backButton"
      (click)="onBackClicked()"
      title="Go back to Shop"
      >
      <span class="material-icons">arrow_back</span>
    </button>
  </div>
<p class="mainTitle"> {{shop.shopName}} </p>
  <div *ngIf="this.currentPolicies.length > 0" class="resultColumn">
    <p class="resultTitle">Purchase Policies in Shop</p>
    <div  style="display: block; height:300px; overflow-y: scroll;">
      <table class="table">
        <thead>
          <tr>
            <th class = "titleTh" >Purchase Policies</th>
            <th>
              <div style="width: 50%;
                          float: left;
                          font-size: smaller;">
                <p>
                  last update: {{this.lastUpdate}}
                </p>

              </div>
              <div style="width: 40%;
                          float: right;">
                <button
                  title="refresh shop policies"
                  (click)="reset()">
                  <span class='material-icons'>refresh</span>
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <mat-tree [dataSource]="policyDataSource" [treeControl]="treeControl" class="example-tree">
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name"
                      [ngClass]="{'selectedNode': this.selectedPolicy && node.value === this.selectedPolicy}"
                      (click)="onPolicySelect(node)">
                      <mat-icon *ngIf="hasChild(1,node)" class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                      {{node.name}}
                    </button>
                  </div>
                  <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                      role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </div>
                </mat-nested-tree-node>
              </mat-tree>
            </td>
            <td style="width: 50%;">
              <div *ngIf="this.selectedPolicy">
                <div>
                  <p class="treeItemInfo">{{getPolicyInfo()}}</p>
                </div>
                <div style="text-align: center;">
                  <button
                    *ngIf="canDelete() && isOwnerOrManager()"
                    title="remove"
                    class="removeButton"
                    (click)="removePolicy(this.selectedPolicy)">
                    <span class='material-icons'>delete</span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="this.currentPolicies.length < 1" class="resultColumn">
    <p class="resultTitle">No Policies in Shop</p>
  </div>

  <div class="SideBar">
    <div style="height: 10%; text-align: center; margin-top: 20%;">
      <button
        *ngIf="isOwnerOrManager()"
        class="optionalButton"
        (click)="addPolicy()"
        >
        Add Policy
      </button>
    </div>
</div>
