.backgroundComp{
  background:#ccd5da;
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
}



.title{
  font-size: xxx-large;
  margin-top: 15%;
}

.textInput {
  // background-color: rgb(159, 96, 96);
  // color: black;

}



