<div class="backgroundComp">
  <p class="title">Login</p>
  <div>
    <mat-form-field class="textInput" appearance="fill" [color]="colorControl.value">
      <mat-label > Name</mat-label>
      <input  matInput #last>
    </mat-form-field>

  </div>
  <div>
    <mat-form-field class="textInput" appearance="fill">
      <mat-label >Password </mat-label>
      <input matInput #last>
    </mat-form-field>

  </div>
  <div>
    <mat-form-field class="textInput" appearance="fill">
      <mat-label >Validate Password</mat-label>
      <input matInput #last>
    </mat-form-field>
  </div>
  <br>
  <button [disabled]="!canSubmit()"
  (click)="submitLogin()">
    Submit!
  </button>
</div>
