<div  class="backgroundComp">




  <div *ngIf="data.length>1" class="resultColumn">

    <p class="resultTitle">Items in Cart</p>
    <div style="display: block; height:300px; overflow-y: scroll;">
      <table class="table">
        <thead>
          <tr>
            <th class = "titleTh" >Products</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">

            <td style="cursor: pointer;" (click)="openDialog(item)">
              <p style="font-size:x-large;">{{item.name}}</p>
              <p>{{item.email}}</p>

            </td>
            <td>
              <button style="cursor: pointer;">add to cart</button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="data.length<1">
    <p class="resultTitle">No Result Found</p>
  </div>

  <div class="SideBar">
    <div>
      <p class="filterTitle"> Total Price: {{totalPrice}}</p>
    </div>

    <div>
      <button class="proceedButton">
        Proceed to Checkout
        <span class="material-icons">attach_money</span>
      </button>
    </div>

  </div>
</div>
