<div  class="backgroundComp">
  <div class="column left">
    <div *ngIf="isItemInCart()" >

      <p class="resultTitle">Items in Cart</p>
      <div style="display: block; height:300px; overflow-y: scroll;">
        <table class="table">
          <thead>
            <tr>
              <th class = "titleTh" >Products</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemDic of itemsInCart">

              <td style="cursor: pointer;" (click)="openDialog(itemDic.item)">
                <p style="font-size:x-large;">{{itemDic.item.name}}</p>
                <p>Price per Item: {{itemDic.item.price}}</p>
                <p>Amount in Cart: {{itemDic.amount}}</p>
                <p>Shop: {{itemDic.shopName}}</p>

              </td>
              <td style="vertical-align:text-top">

                <button
                  title="Remove Item From Cart"
                  style="float:right; cursor: pointer;"
                  (click)="removeItem(itemDic.item, itemDic.shopName)">
                  <span class='material-icons'>delete</span>
                </button>

                <div>
                  <button
                    style="cursor: pointer; width: 100%;margin-top: 10px;"
                    (click)="setItemAmountByDemand(itemDic.item, itemDic.shopName)">
                    Change Item Amount
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!(isItemInCart())">
      <p class="resultTitle">No Items In cart</p>
    </div>
  </div>

  <div class="column right">
    <div>
      <p class="filterTitle"> Total Price: {{totalPrice}}</p>
    </div>

    <div>
      <button class="proceedButton"
        (click)="checkOutClicked()"
        [disabled]="canCheckOut()">
        Proceed to Checkout
        <span class="material-icons">attach_money</span>
      </button>
    </div>
  </div>


</div>
