<div  class="backgroundComp">
  <div class="column left">
    <!-- <div class="SideBar"> -->
    <div>
      <p class="filterTitle">Filter by Price</p>
      <mat-form-field style="width: 40%; margin-left: 7.5%;" appearance="fill">
        <mat-label >min price</mat-label>
        <input matInput type="number" min="0"
         #last style="color: white;"
         placeholder="Ex. 10.4"
         [(ngModel)]="minPrice">
      </mat-form-field>
      <mat-form-field style="width: 40%;  margin-left: 2.5%;" appearance="fill">
        <mat-label >max price</mat-label>
        <input matInput
        type="number"
        min="0"
        #last style="color: white;"
        placeholder="Ex. 10.4"
        [(ngModel)]="maxPrice">

      </mat-form-field>
    </div>

    <div >
      <p class="filterTitle"> Filter By Category</p>
      <div *ngFor="let category of getAllCategories()">
        <mat-checkbox style="margin-left: 10%;" checked="true" (change)="changeFilter($event.checked,category)">
          {{category}}
        </mat-checkbox>
      </div>
    </div>

    <div *ngIf="isMemberLoggedin()">
      <p class="filterTitle">Search Shop</p>
      <mat-form-field style="width: 80%; margin-left: 2.5%;" appearance="fill">
        <mat-label >Search Shop Name</mat-label>
        <input matInput type="text" min="0" #last style="color: white;" [(ngModel)]="shopName">
      </mat-form-field>
      <button style="height: 55px;"
        (click)="searchShop()"
        [disabled]="!canSearchShopName()">
        <span class='material-icons'>search</span>
      </button>
    </div>
  </div>



  <div class="column right">
    <!-- <div class="resultColumn"> -->
    <div *ngIf="isItemsFound()">
      <p class="resultTitle">Search Results</p>
      <div style="display: block; height:300px; overflow-y: scroll;">
        <table class="table">
          <thead>
            <tr>
              <th class = "titleTh" >Products</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getFilteredItems()">

              <td style="cursor: pointer;" (click)="openDialog(item)">
                <p style="font-size:x-large;">{{item.name}}</p>
                <p>price per unit: {{item.price}}</p>

              </td>
              <td>
                <button style="cursor: pointer;"
                  (click)="addToCart(item)">
                  add to cart
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!isItemsFound()">
      <p class="resultTitle">{{getNoFoundTitle()}}</p>
    </div>
  </div>





</div>
