.backgroundComp{
  background:#ccd5da;
  height: 100%;
  position: fixed;
  width: 100%;
  display: table;
  clear:both
}

.column{
  float:left;
  width: 80%;

}

.left{
  width: 20%;
  // float: left;
  background: rgb(86, 104, 110);
  color: white;
  height: 100%;
}

.right{
  width: 80%;
}
.SideBar{
  width: 20%;
  float: left;
  background: rgb(86, 104, 110);
  color: white;
  height: 100%;

}

.filterTitle{
  margin-top: 15%;
   text-align: center;
   font-size: large;
   font-family: cursive
}

.resultColumn{
  width: 80%;
  float: left;
  height: 100%;


}

.titleTh{
  text-align: left;
  width: 400px ;
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 10px;

}

.table{

  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
  overflow-y: auto;
  background-color: white;

  th{

    // border: 1px solid black;
    border-collapse: collapse;
    background-color: white;

  }
  td{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid black;
    border-top:1px solid black;
    // border: 1px solid black;
    border-collapse: collapse;
    background-color: white;

  }
}
.resultTitle{
  font-family: cursive;
  margin-top: 10%;
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 30px;
}

.itemButton{
  font-size:x-large;
}

