.backgroundComp{
  background:#2e2e2e;
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
}



.title{
  font-size: xxx-large;
  margin-top: 15%;
  color: white;
}

.inputBar{
  color:white;

}

.error-snackbar{
  color: red;
  background-color: red;
}



